fastapi
uvicorn
pymupdf
pdfplumber
python-multipart
sqlalchemy
pydantic
python-dotenv
openai
fhir.resources
simple-icd-10
pillow
sentence-transformers
numpy
requests
python-dotenv
chromadb
rank-bm25
scikit-learn
networkx
langgraph
datasets
transformers
accelerate
peft
tqdm
unsloth 
bitsandbytes